{% extends 'base.html.twig' %}

{% block title %}My Account{% endblock %}

{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_2.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate mb-5 text-center">
          	<p class="breadcrumbs mb-0"><span class="mr-2"><a href="{{path('app_home')}}">Home <i class="fa fa-chevron-right"></i></a></span> <span>My Account <i class="fa fa-chevron-right"></i></span></p>
            <h2 class="mb-0 bread">My Account</h2>
          </div>
        </div>
      </div>
</section>
 <section class="ftco-section container">

    <div class="container">
<div class="row gutters">
<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
    <div class="card h-100">
        <div class="card-body">
        {{form_start(formPersonalDetails)}}
            <div class="row gutters">
            
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h6 class="mb-2 text-primary">Personal Details</h6>
                </div>
                
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    
                    <div class="form-group">
                        <label for="firstname">Firstname</label>
                        {{ form_widget(formPersonalDetails.firstname) }}
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="lastname">Lastname</label>
                        {{ form_widget(formPersonalDetails.lastname) }}
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        {{ form_widget(formPersonalDetails.phone) }}
                    </div>
                </div>
            </div>
            {{ form_errors(formPersonalDetails.phone) }}
            {{ form_errors(formPersonalDetails.lastname) }}
            {{ form_errors(formPersonalDetails.firstname) }}
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="text-right">
                        <input type="reset" id="submit" name="submit" class="btn btn-secondary" value="Reset">
                        <input type="submit" id="submit" name="submit" class="btn btn-primary" value="Update">
                    </div>
                </div>
            </div>
           
        </div>
        {{form_end(formPersonalDetails)}}
    </div>
</div>
<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
    <div class="card h-100">
        <div class="card-body">
         {{form_start(formChangePassword)}}
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h6 class="mb-2 text-primary">Password</h6>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <label for="Password">New Password</label>
                        {{ form_widget(formChangePassword.old_password) }}
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <label for="Password">Password</label>
                        {{ form_widget(formChangePassword.password.first) }}
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <label for="repeatpassword">Repeat Password</label>
                        {{ form_widget(formChangePassword.password.second) }}
                    </div>
                </div>
            </div>
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="text-right">
                        <input type="reset" id="submit" name="submit" class="btn btn-secondary" value="Reset">
                        <input type="submit" id="submit" name="submit" class="btn btn-primary" value="Update">
                    </div>
                </div>
            </div>
             {{form_end(formChangePassword)}}
        </div>
    </div>
</div>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
    <div class="card h-100">
        <div class="card-body">
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h6 class="mb-2 text-primary">Fedelity Points</h6>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <p>{{userPoints}} points</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
    <div class="card h-100">
        <div class="card-body">
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h6 class="mb-2 text-primary">List Address</h6>
                </div>

                {% for address in userAddress %}
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 card h-100 my-3 pt-3 mx-1">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <p>{{address.address}},<br> {{address.zipCode}} {{address.city}},<br> {{address.state}}</p>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
                            <a href="{{path('app_account_remove_address', {id: address.id})}}"><button type="button" id="submit" name="submit" class="btn btn-primary">Remove</button></a>
                        </div>
                    </div>  
                {% endfor %}
                

                
            </div>
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h6 class="mb-2 text-primary">Add Address</h6>
                </div>
                {{form_start(formAddAddress)}}
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                    <label for="adress">Address</label>
                        {{ form_widget(formAddAddress.Address) }}
                    </div>
                 </div>
                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <label for="state">State</label>
                        {{ form_widget(formAddAddress.State) }}
                    </div>
                 </div>
                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <label for="repeatpassword">City</label>
                        {{ form_widget(formAddAddress.City) }}
                    </div>
                 </div>
                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <label for="zip">Zip</label>
                        {{ form_widget(formAddAddress.ZipCode) }}
                    </div>
                 </div>
                    <div class="text-right">
                        <input type="submit" id="submit" name="submit" class="btn btn-primary" value="Add Address">
                    </div>
                </div>
                {{form_end(formAddAddress)}}
            </div>
        </div>
    </div>
</div>
</div>
</div>

 </section>
{% endblock %}
